body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgb(18, 18, 19);
  color: gainsboro;
}

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}

header > h1 {
  color: gainsboro;
  font-weight: bold;
  text-transform: uppercase;
}

#opponent-choise {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  border-color: rgb(58, 58, 60);
}

#player-choise {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  border-color: rgb(58, 58, 60);
}

#win-gif {
  margin-top: 10px;
  display: none;
}

#lose-gif {
  margin-top: 10px;
  display: none;
}

#choises {
  width: 240px;
  height: 80px;
  margin: 0 auto;
  margin-top: 10px;
}

#choises img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#choises img:active {
  position: relative;
  top: 1px;
}

#reset-btn {
  display: none;
}

#reset-btn > button {
  color: gainsboro;
  background-color: rgb(129, 131, 132);
  width: 120px;
  height: 40px;
  font-family: inherit;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

#reset-btn > button:active {
  position: relative;
  top: 1px;
}

footer {
  margin-top: 10px;
  border-top: 1px solid rgb(58, 58, 60);
}

footer > a {
  color: gainsboro;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
